@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* =========================
   VARIABLES GLOBALES
========================= */

:root{

    /* COLORES */
    --color-primary: #8BC34A;
    --color-primary-light: #A5D65C;
    --color-primary-dark: #73B626;

    --color-dark: #0B0B0B;
    --color-text: #1A1A1A;
    --color-text-light: #5A5A5A;

    --color-white: #FFFFFF;
    --color-gray-bg: #F5F5F5;
    --color-gray-line: #D6D6D6;

    /* TIPOGRAFIA */
    --font-main: 'Montserrat', sans-serif;

    /* ESPACIADOS */
    --section-padding: 80px 5%;
    --container-padding: 90px;

    /* BORDES */
    --radius-small: 10px;
    --radius-medium: 18px;
    --radius-circle: 50%;

    /* SOMBRAS */
    --shadow-navbar: 0 2px 10px rgba(0,0,0,0.25);
    --shadow-card: 0 8px 25px rgba(0,0,0,0.05);
    --shadow-card-hover: 0 12px 35px rgba(139,195,74,0.18);

    /* TRANSICIONES */
    --transition-fast: 0.3s ease;
    --transition-medium: 0.4s ease;
    --transition-slow: 0.6s ease;

    /* TIMELINE */
    --circle-size: 95px;
    --timeline-gap: 15px;
    --timeline-line: 2px;
}

/* =========================
   RESET
========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body{
    font-family: var(--font-main);
    background: var(--color-white);
    color: var(--color-text);
}

/* =========================
   HEADER
========================= */

header{
    width: 100%;
    padding: 20px 70px;
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;

    background: var(--color-dark);

    z-index: 1000;

    box-shadow: var(--shadow-navbar);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========================
   LOGO
========================= */

.logo img{
    width: 140px;
    display: flex;
}

/* =========================
   MENU
========================= */

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    position: relative;

    text-decoration: none;

    color: var(--color-white);

    font-size: 15px;
    font-weight: 500;

    padding-bottom: 5px;

    transition:
    color var(--transition-fast),
    transform var(--transition-fast);
}

/* LINEA */

.nav-links a::after{
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background: var(--color-primary-light);

    transition: width var(--transition-fast);
}

/* HOVER */

.nav-links a:hover{
    color: var(--color-primary-light);
    transform: translateY(-3px);
}

.nav-links a:hover::after{
    width: 100%;
}

/* =========================
   BOTON NAVBAR
========================= */
.btn-cotizar{
    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 9px 20px;

    border: 2px solid #8BC34A;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0);

    color: #8BC34A;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.4px;

    transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    color 0.35s ease;

    z-index: 1;
}

/* EFECTO CARGA */

.btn-cotizar::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background: #8BC34A;

    z-index: -1;

    transition: width 0.45s ease;
}

/* HOVER */

.btn-cotizar:hover::before{
    width: 100%;
}

.btn-cotizar:hover{
    color: white;

    transform: translateY(-2px);

    box-shadow:
    0 0 15px rgba(139,195,74,0.30);
}

/* ICONOS */

.btn-cotizar i,
.btn-cotizar span{
    font-size: 13px;

    transition: transform 0.35s ease;
}

.btn-cotizar:hover span{
    transform: translateX(4px);
}




/* =========================
   HERO
========================= */

.hero{
    position: relative;

    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding-top: 0;

    overflow: hidden;
}

/* VIDEO */

.hero-video{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transform: translate(-50%, -50%);
}

/* CAPA OSCURA */

.overlay{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(11,11,11,0.45);
}

/* CONTENIDO */

.hero-content{
    position: absolute;

    top: 58%;
    left: 90px;

    transform: translateY(-50%);

    z-index: 2;

    color: var(--color-white);

    max-width: 700px;
}

/* TITULO */

.hero-content h1{
    font-size: 64px;
    font-weight: 800;

    letter-spacing: -2px;

    line-height: 1.05;

    margin-bottom: 25px;
}

/* TEXTO */

.hero-content p{
    font-size: 16px;
    line-height: 1.7;

    max-width: 500px;

    margin-bottom: 35px;

    color: #EAEAEA;
}

/* BOTON HERO */

.hero-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;

    background: transparent;
    color: var(--color-white);

    border: 2px solid var(--color-primary);

    padding: 10px 24px;

    border-radius: var(--radius-small);

    font-size: 14px;
    font-weight: 600;

    transition:
    background var(--transition-fast),
    color var(--transition-fast),
    transform var(--transition-fast);
}

.hero-btn:hover{
    background: var(--color-primary);
    transform: translateY(-3px);
}

/* =========================
   ABOUT
========================= */

.about{
    width: 100%;

    padding: 80px 90px;

    background: var(--color-gray-bg);

    display: flex;
    justify-content: space-between;

    gap: 60px;
}

/* IZQUIERDA */

.about-left{
    width: 50%;
}

.about-subtitle{
    color: var(--color-primary);

    font-size: 15px;
    font-weight: 700;
}

.about-left h2{
    font-size: 48px;

    line-height: 1.1;

    margin-top: 20px;
    margin-bottom: 30px;
}

.about-left p{
    font-size: 15px;
    line-height: 1.7;

    color: var(--color-text-light);

    margin-bottom: 30px;

    max-width: 650px;
}

.about-left ul{
    padding-left: 25px;
}

.about-left li{
    margin-bottom: 10px;
    font-size: 15px;
}

/* DERECHA */

.about-right{
    width: 50%;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 20px;
}

/* =========================
   CARDS
========================= */

.info-card{
    background: var(--color-white);

    padding: 22px 24px;

    border-radius: var(--radius-medium);

    box-shadow: var(--shadow-card);

    transition: var(--transition-fast);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-card:hover{
    transform: translateY(-6px);

    box-shadow: var(--shadow-card-hover);
}

/* CONTENIDO */

.card-content{
    display: flex;
    align-items: flex-start;

    gap: 14px;
}

/* ICONO */

.card-content img{
    width: 48px;
    height: 48px;

    object-fit: contain;

    flex-shrink: 0;
}

/* TEXTOS */

.card-text{
    display: flex;
    flex-direction: column;
}

.card-text h3{
    color: var(--color-primary);

    font-size: 18px;
    font-weight: 700;

    margin-bottom: 2px;
}

.card-text span{
    position: relative;

    display: inline-block;

    font-size: 13px;
    font-weight: 700;

    padding-bottom: 8px;

    margin-bottom: 12px;
}

/* LINEA */

.card-text span::before{
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background: var(--color-primary);

    transition: width var(--transition-medium);
}

/* PUNTO */

.card-text span::after{
    content: "";

    position: absolute;

    right: -6px;
    bottom: -3px;

    width: 7px;
    height: 7px;

    background: var(--color-primary);

    border-radius: var(--radius-circle);

    opacity: 0;

    transition: var(--transition-fast);
}

/* HOVER */

.info-card:hover .card-text span::before{
    width: 100%;
}

.info-card:hover .card-text span::after{
    opacity: 1;
}

/* =========================
   ESTADISTICAS
========================= */

.stats{
    width: 100%;
    background: var(--color-text);

    padding: 45px 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

/* BOX */

.stat-box{
    flex: 1;

    padding: 20px;

    border-right: 1px solid rgba(255,255,255,0.08);
}

.stat-box:last-child{
    border-right: none;
}

/* CONTENIDO */

.stat-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ICONO */

.stat-icon img{
    width: 85px;
    height: 85px;

    object-fit: contain;
}

/* INFO */

.stat-info{
    text-align: left;
}

/* NUMERO */

.stat-box h2{
    font-size: 42px;
    font-weight: 700;

    color: var(--color-primary);

    margin-bottom: 5px;
}

/* TEXTO */

.stat-box p{
    color: #EAEAEA;

    font-size: 14px;

    line-height: 1.4;
}

/* HOVER */

.stat-box:hover{
    transform: translateY(-4px);
}

.stat-box:hover h2{
    color: var(--color-primary-light);
}

.stat-box:hover .stat-icon img{
    transform: scale(1.1);
}
/* =========================
   PROCESO
========================= */

.process{
    padding: 30px 5%;
    background: var(--color-gray-bg);
    text-align: center;
}

.process-subtitle{
    color: var(--color-primary-dark);
    font-weight: 700;
    font-size: 15px;
}

.process h2{
    font-size: 35px;
    margin: 15px 0 50px;
}

/* =========================
   TIMELINE
========================= */

.timeline{
    width: fit-content;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    gap: var(--timeline-gap);

    /* NUEVO */
    --line-offset: calc(var(--circle-size) / 2);
}

/* =========================
   LINEA BASE
========================= */

.timeline::before{
    content: "";

    position: absolute;

    top: calc(var(--circle-size) / 2);

    left: var(--line-offset);
    right: var(--line-offset);

    height: var(--timeline-line);

    background: var(--color-gray-line);

    z-index: 1;
}

/* =========================
   LINEA VERDE
========================= */

.timeline::after{
    content: "";

    position: absolute;

    top: calc(var(--circle-size) / 2);

    left: var(--line-offset);

    /* ESTA ES LA PARTE IMPORTANTE */
    width: calc(var(--progress) + 6px);

    height: var(--timeline-line);

    background: var(--color-primary-dark);

    z-index: 2;

    transition: var(--transition-slow);
}
/* =========================
   PASOS
========================= */

.step{
    width: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    position: relative;
    z-index: 5;
}

/* =========================
   CIRCULO
========================= */

.circle{
    width: var(--circle-size);
    height: var(--circle-size);

    border: 3px solid var(--color-primary-dark);
    border-radius: var(--radius-circle);

    background: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition-medium);
}

.circle img{
    width: 50px;
    object-fit: contain;
}

/* =========================
   TEXTOS
========================= */

.step span{
    display: block;

    margin-top: 15px;

    font-size: 26px;
    font-weight: 700;

    color: var(--color-primary-dark);
}

.step h3{
    margin: 10px 0 8px;

    font-size: 18px;
    font-weight: 600;

    line-height: 1.3;
}

.step p{
    font-size: 13px;
    line-height: 1.5;

    color: var(--color-text-light);

    max-width: 190px;
}

/* =========================
   ACTIVE
========================= */

.step.active .circle{
    background: var(--color-primary-dark);
    transform: scale(1.08);
}

.step.active .circle img{
    filter: brightness(0) invert(1);
}


/* =========================
   COTIZAR
========================= */

.cta{
    width: 100%;

    padding: 20px 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;

    background:
    linear-gradient(rgba(26,26,26,0.45),
    rgba(26,26,26,0.45)),
    url("../img/grasss.png");

    background-size: cover;
    background-position: center;
}

/* TEXTOS */

.cta-text{
    flex: unset;
}

.cta-text h2{
    color: #FFFFFF;

    font-size: 24px;
    font-weight: 800;

    margin-bottom: 5px;

    line-height: 1.2;
}

.cta-text p{
    color: #CCCCCC;

    font-size: 14px;

    line-height: 1.5;
}

/* BOTON */

/* =========================
   BOTON CTA PREMIUM
========================= */

.cta-button a{
    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 12px 26px;

    border: 2px solid #8BC34A;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0);


    color: #FFFFFF;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;

    transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    color 0.35s ease;

    z-index: 1;
}

/* BARRA DE CARGA */

.cta-button a::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background: #8BC34A;

    z-index: -1;

    transition: width 0.45s ease;
}

/* HOVER */

.cta-button a:hover::before{
    width: 100%;
}

.cta-button a:hover{
    color: white;

    transform: translateY(-3px);

    box-shadow:
    0 0 18px rgba(139,195,74,0.35),
    0 0 30px rgba(139,195,74,0.18);
}

/* ICONOS */

.cta-button a i,
.cta-button a span{
    font-size: 14px;

    transition: transform 0.35s ease;
}

/* FLECHA */

.cta-button a:hover span{
    transform: translateX(5px);
}









/* =========================
   FOOTER
========================= */

.footer{
    background: var(--color-text);
    padding: 40px var(--container-padding);
    color: var(--color-white);
    font-family: var(--font-main);
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    gap: 50px;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.footer-logo{
    width: 190px;
    display: block;
}

.footer-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
}

.footer-col h3,
.footer-right h3{
    color: var(--color-white);
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 18px;
}

.footer-col a,
.footer-col p{
    display: block;
    color: var(--color-gray-line);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 9px;
}

.footer-col a{
    position: relative;
    width: fit-content;

    transition:
    color var(--transition-fast),
    transform var(--transition-fast);
}

/* LINEA */

.footer-col a::after{
    content: "";

    position: absolute;

    left: 0;
    bottom: -3px;

    width: 0%;
    height: 2px;

    background: var(--color-primary-light);

    transition: width var(--transition-fast);
}

/* HOVER */

.footer-col a:hover{
    color: var(--color-primary-light);
    transform: translateY(-2px);
}

.footer-col a:hover::after{
    width: 100%;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.socials{
    display: flex;
    gap: 18px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.socials a{
    color: var(--color-white);
    font-size: 28px;
    transition: color var(--transition-fast), transform var(--transition-fast);
}

.socials a:hover{
    color: var(--color-primary-light);
    transform: translateY(-3px);
}

.footer-copy{
    color: var(--color-white);
    font-size: 9px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
}

/* =========================
   BOTÓN SUBIR
========================= */

.scroll-top{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 52px;
    height: 52px;

    background: var(--color-primary);
    color: var(--color-white);

    border-radius: var(--radius-circle);

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);

    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease, background var(--transition-fast);
}

.scroll-top.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: floatArrow 2s ease-in-out infinite;
}

.scroll-top .material-symbols-outlined{
    font-size: 34px;
}

.scroll-top:hover{
    background: var(--color-primary-light);
}

@keyframes floatArrow{
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-8px); }
    100%{ transform: translateY(0); }
}


.whatsapp-btn{
    position: fixed;

    left: 30px;
    bottom: 30px;

    width: 52px;
    height: 52px;

    background: transparent;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    z-index: 999;
}


.whatsapp-btn i{
    color: var(--color-primary);

    font-size: 42px;

    animation: whatsappPulse 1.8s ease-in-out infinite;

    transition: color 0.3s ease;
}


.whatsapp-btn:hover i{
    color: var(--color-primary-light);
}


/* =========================
   PULSO
========================= */

@keyframes whatsappPulse{

    0%{
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(139,195,74,0));
    }

    40%{
        transform: scale(1.18);

        filter:
        drop-shadow(0 0 6px rgba(139,195,74,0.8))
        drop-shadow(0 0 14px rgba(139,195,74,0.5));
    }

    100%{
        transform: scale(1);

        filter: drop-shadow(0 0 0 rgba(139,195,74,0));
    }

}

/* =========================
   ANIMACIÓN HERO CONTENT
========================= */

.hero-content {
  opacity: 0;
  animation: heroSlideLeft 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes heroSlideLeft {
  from {
    opacity: 0;
    transform: translate(-80px, -50%);
  }

  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

/* =========================
   SCROLL ANIMATIONS
========================= */

.about-left,
.about-right {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* LEFT */

.about-left {
  transform: translateX(-80px);
}

/* RIGHT */

.about-right {
  transform: translateX(80px);
}

/* ACTIVE */

.about-left.show,
.about-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* =========================
   STATS APARICIÓN
========================= */

.stat-box {
  opacity: 0;

  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* ACTIVO */

.stat-box.show {
  opacity: 1;
}

.menu-toggle {
  display: none;
  background: transparent;
  border: 2px solid #8bc34a;
  color: #8bc34a;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    padding: 16px 24px;
  }

  .navbar {
    position: relative;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links,
  .btn-cotizar {
    display: none;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    width: 260px;
    padding: 25px;
    background: #0b0b0b;
    border: 1px solid rgba(139, 195, 74, 0.35);
    border-radius: 18px;
    flex-direction: column;
    gap: 22px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);
  }

  .nav-links.active a {
    font-size: 14px;
  }
}

/* =========================================
   RESPONSIVE GENERAL
========================================= */

@media (max-width: 1200px){

  .hero-content h1{
    font-size: 52px;
  }

  .about{
    gap: 40px;
  }

}


/* =========================================
   TABLET
========================================= */

@media (max-width: 992px){

  /* HERO */

  .hero-content{
    left: 50px;
    max-width: 90%;
  }

  .hero-content h1{
    font-size: 46px;
  }

  .hero-content p{
    font-size: 15px;
  }

  /* ABOUT */

  .about{
    flex-direction: column;
    padding: 70px 40px;
  }

  .about-left,
  .about-right{
    width: 100%;
  }

  .about-left h2{
    font-size: 40px;
  }

  /* STATS */

  .stats{
    flex-wrap: wrap;
    padding: 40px;
  }

  .stat-box{
    width: 50%;
    border-right: none;
  }

  /* CTA */

  .cta{
    flex-direction: column;
    text-align: center;
    padding: 50px 30px;
  }

  /* TIMELINE */

  .timeline{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .timeline::before,
  .timeline::after{
    display: none;
  }

.footer{
    padding: 40px 35px;
  }


  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }


  .footer-left{
    width: 100%;
    justify-content: center;
  }


  .footer-center{
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 28px;
    align-items: start;
  }


  .footer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .footer-col a,
  .footer-col p{
    width: auto;
    text-align: center;
  }


  .footer-right{
    width: 100%;
    align-items: center;
    text-align: center;
  }


  .socials{
    justify-content: center;
  }


  .footer-copy{
    text-align: center;
    white-space: normal;
  }

}


  




/* =========================================
   CELULAR
========================================= */

@media (max-width: 768px){

  /* HEADER */

  header{
    padding: 16px 20px;
  }

  .logo img{
    width: 115px;
  }

  /* HERO */

  .hero{
    height: 100vh;
  }

  .hero-content{
    left: 20px;
    right: 20px;
    max-width: 100%;
  }

  .hero-content h1{
    font-size: 34px;
    line-height: 1.1;
  }

  .hero-content p{
    font-size: 14px;
    line-height: 1.6;
  }

  /* ABOUT */

  .about{
    padding: 60px 20px;
  }

  .about-left h2{
    font-size: 32px;
  }

  .about-right{
    grid-template-columns: 1fr;
  }

  /* STATS */

  .stats{
    flex-direction: column;
    padding: 40px 20px;
  }

  .stat-box{
    width: 100%;
    border: none;
    padding: 15px 0;
  }

  .stat-content{
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .stat-info{
    text-align: center;
  }

  /* PROCESS */

  .process{
    padding: 60px 20px;
  }

  .process h2{
    font-size: 28px;
  }

  .step{
    width: 100%;
    max-width: 260px;
  }

  /* CTA */

  .cta{
    padding: 60px 20px;
  }

  .cta-text h2{
    font-size: 28px;
  }

  .cta-button a{
    width: 100%;
  }

 .footer{
    padding: 40px 22px;
  }


  .footer-center{
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 18px;
  }


  .footer-logo{
    width: 170px;
  }


    /* BOTONES FLOTANTES */

  .scroll-top,
  .whatsapp-btn{
    width: 48px;
    height: 48px;
  }
}






/* =========================================
   CELULAR PEQUEÑO
========================================= */

@media (max-width: 480px){

  .hero-content h1{
    font-size: 28px;
  }

  .about-left h2{
    font-size: 28px;
  }

  .process h2,
  .cta-text h2{
    font-size: 24px;
  }

  .stat-box h2{
    font-size: 34px;
  }

 .footer{
    padding: 36px 14px;
  }


.footer-content{
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 22px 18px;
}


.footer-left{
  grid-column: 1 / -1;
}


.footer-center{
  display: contents !important;
}


.footer-col{
  align-items: center;
  text-align: center;
}


.footer-right{
  grid-column: 2;
  grid-row: 3;
  align-items: center;
  text-align: center;
}


.footer-copy{
  white-space: normal;
}


  .footer-logo{
    width: 150px;
  }


}



/* RESPONSIVE */

@media(max-width: 950px){
    .quienes{
        flex-direction: column;
        padding: 60px 5%;
    }

    .quienes-left,
    .quienes-right{
        width: 100%;
    }

    .quienes-left h2{
        font-size: 36px;
    }

    .quienes-right img{
        height: 320px;
    }

    .footer{
        padding: 35px 5%;
    }

    .footer-content{
        grid-template-columns: 1fr;
        gap: 35px;
    }



    .footer-left,
    .footer-right{
        align-self: start;
    }

    .footer-logo{
        width: 170px;
    }
}



/* =========================================
   FULL HD / MAC
========================================= */

@media (min-width: 1600px) {

  .hero-content{
    position: absolute;

    top: 52%;
    left: 70px;

    transform: translateY(-50%);

    width: 980px;
    max-width: none;
  }

  .hero-content h1{
    font-size: 86px;

    line-height: 0.95;

    letter-spacing: -3px;

    margin-bottom: 34px;

    max-width: 980px;
  }

  .hero-content p{
    font-size: 24px;

    line-height: 1.7;

    max-width: 860px;
  }

  /* WHATSAPP */

  .whatsapp-btn{
    width: 74px;
    height: 74px;

    left: 34px;
    bottom: 34px;
  }

  .whatsapp-btn i{
    font-size: 44px;
  }

  /* SCROLL */

  .scroll-top{
    width: 72px;
    height: 72px;

    right: 34px;
    bottom: 34px;
  }

  .scroll-top span{
    font-size: 40px;
  }
}


